<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<body>
<div class="container-lg">
    <p class="h2">게시판 보기</p>
    <form id="boardForm" name="boardForm">
     <input type="hidden" name="seqno" th:value="${param.seqno}">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-danger me-md-2 btn-sm" type="button" id="deleteBtn"> 삭제</button>
        <button class="btn btn-success me-md-2 btn-sm" type="button" id="modifyBtn">수정</button>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input type="text" th:value="${dto.subject}"  name="subject" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">본문내용</label>
        <textarea class="form-control" name="content"  id="exampleFormControlTextarea1" rows="10">[[${dto.content}]]</textarea>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">작성자</label>
        <input class="form-control" th:value="${dto.writer}" name="writer"  id="exampleFormControlInput2" rows="10">
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/board/list"><button class="btn btn-primary me-md-2 btn-sm" type="button">목록</button></a>
    </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $("#modifyBtn").on("click", function() {
          console.log($("#boardForm").serialize());
          // return false;
          $.ajax({
            url : "/board/modify",
            type : "POST",
            data : $("#boardForm").serialize(),
            contentType : "application/x-www-form-urlencoded; charset=UTF-8",
            dataType : "text",
            success : function(result) {
                console.log(result);
                location.href = "/board/list";
            }
          });
        });
        $("#deleteBtn").on("click", function() {
          $.ajax({
            url : "/board/delete",
            type : "POST",
            data : $("#boardForm").serialize(),
            contentType : "application/x-www-form-urlencoded; charset=UTF-8",
            dataType : "text",
            success : function(result) {
                alert("삭제 되었습니다.");
                location.href = "/board/list";
            }
          });
        });
     });
</script>
</body>
</html>