<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Thymeleaf</title>
</head>
<body>
<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
  }
</style>
    <div>
        <h4>게시판 목록</h4>
        <table border="1" style="border:1px solid #000">
            <thead>
                <tr>
                    <th>No</th>
                    <th style="width: 300px;">제목</th>
                    <th>조회수</th>
                    <th style="width: 100px;">작성일</th>
                    <th style="width: 100px;">작성자</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>제목입니다</td>
                <td>10</td>
                <td>2023-05-09</td>
                <td style="text-align:center">김선녕</td>
            </tr>
                <tr>
                    <td>1</td>
                    <td>제목입니다</td>
                    <td>10</td>
                    <td>2023-05-09</td>
                    <td style="text-align:center">김선녕</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>제목입니다</td>
                    <td>10</td>
                    <td>2023-05-09</td>
                    <td style="text-align:center">김선녕</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>